---
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('../pages/pictures/*.md');
import BlogPost from '../components/BlogPost.astro';
const pageTitle = "Pictures | FantasyFragments.net";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/aya.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style>
            h1 {
                color: Black;
                font-size: 4rem;
                font-weight: bold;
            }
        </style>
	</head>
	<body>
	<BaseLayout>
		<h1>{pageTitle}</h1>
        <p>PLACEHOLDER!!!!!.</p>
        <img src="https://cdn.donmai.us/original/67/03/__hakurei_reimu_and_ibuki_suika_touhou_drawn_by_yanagi_nurikoboshi__6703bd6fb1adbc42567627db3ddcedc0.jpg" alt="reimu and suika at the shrine donation box">
        <ul>
            {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
        </ul>
    </BaseLayout>
	</body>
</html>